[submodule "Mental_Health_Sentiment_Analysis_GCP"]
	path = Mental_Health_Sentiment_Analysis_GCP
	url = https://github.com/prem332/mental-health-sentiment-gcp.git
[submodule "Brain_Tumor_Image_Classification_GCP"]
	path = Brain_Tumor_Image_Classification_GCP
	url = https://github.com/prem332/brain-tumor-image-classification.git
